
doc {
    display: block;
}

teiHeader {
    display: none;
}



text {
    background-color: hwb(180 86% 5%);
    display: block;
}
token {
    background-color: azure;
    display: inline;
}

eventGroups {
    display: block;
}
eventGroup{
    color:#000000;
    background-color:#eddec6;
    margin:10pt;
    /*padding:0;*/
    font-family:Verdana, Tahoma, Geneva, Arial, Helvetica, sans-serif;
    display: block;
}

event {
    display: block;
}

role[text] {
    background-color: hsl(0, 31%, 85%);
    display: inline;    
}


spans {
    background-color: hwb(0 85% 8%);
    display: block;
}

span {
    display: block;
    line-height: 150%;
}

span:after {
    content: attr('') " (" attr(class) ") [" attr(element) "]" ;
    display: block;
}


eventGroup[class]:before {
    content: attr(class) " [" attr(type) "]";
    visibility: visible;
    background-color: hsl(35, 55%, 79%);
}


trigger[text]:before {
    content:attr(text) ;
    visibility: visible;
    background-color: hsl(35, 18%, 80%);
    display: block;
}

role:before {
    content: attr(text) " (" attr(role) ")"  ;
    background-color: hsl(0, 31%, 85%);
    display: block;
}